@charset "UTF-8";
@font-face {
    font-family: 'Alumni Sans Pinstripe';
    src: url(../fonts/AlumniSansPinstripe-Regular.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: opens;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

    /*80%*/

.oitentapor{
    width: 80%;
    margin: 0 auto;
    display: none;
}

    /*Clear*/

.clear{
    clear: both;
}
    
    /*Imagem de fundo*/

header{
    width: 100%;
    background-image: url(../photos/fundo.jpg);
    background-size: 100%;
    height: calc(80vh + 200px);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    /*Imagens de logo de redes*/
    
header #redes{
    float: left;
}
header .logoredes{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 30px 20px 0 0;
    
    
}
header .logoredes img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
}

    /*Telefone de contato*/

header #telefone{
    vertical-align: top;
    float: right;
    color: white;
    font-family: 'Alumni Sans Pinstripe', sans-serif;

}
header #telefone #numero{
    display: inline-block;
    font-size: 22px;
}
header #telefone #numero p:last-child{
    font-size: 30px;
    margin-top: -10px;
}

    /*Menu*/

header nav{
    width: 100%;
    height: 120px;
    color: white;
    font-size: 28px;
    margin-top: -85px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
header #menuprincipal{
    text-align: center;
    line-height: 120px;

}
header #menuprincipal li{
    display: inline-block;
    margin-right: 20px;
}

/*Painel*/

header #painel{
    color: white;
    text-align: center;
    font-family: Quicksand;
    
}
header #painel #nome{
    margin-top: 120px;
}
header #painel #nome h1{
    font-size: 60px;

}
header #painel #nome p{
    margin-top: -10px;
}
header #painel h2{
    margin-top: 50px;
}

/*Animacao barra*/

#painel h2::after{
    content: '|';
    opacity: 1;
    animation: piscabarra 1s infinite;
    margin-left: 5px;
}
@keyframes piscabarra {
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



/*Apresentacao*/

#espacogradient{
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0),black);
    z-index: 1;
    margin-top: -220px;
}
#apresentacao{
    width: 100%;
    background-color: black;
    display: flex;
    font-family: opens;
    justify-content: center;
}
#apresentacao .quemsou{
    color: white;
    width: 50%; 
    margin: 50px 0;
    text-align: justify;
}
#apresentacao .quemsou h1{
    font-size: 50px;
    text-indent: 100px;
}
#apresentacao .quemsou p{
    margin-top: 20px;
    text-indent: 30px;
}
#apresentacao .foto {
    width: 20%;
    margin: 50px 0 10px 100px;
}
#apresentacao .foto img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid white;
}


    /*Skills*/


#skills{
    background-color: #2558f3;
    font-family: opens;
    padding: 30px 0 50px 0;
    border-bottom: 2px solid  black;
}
#skills h2{
    text-align: center;
    color: white;
    font-size: 35px;
    text-shadow: 2px 2px 2px black;
}
#skills #imgskill{
    text-align: center;
}
#skills #imgskill > div{
    width: 220px;
    height: 220px;
    position: relative;
    display: inline-block;
    animation: bolhas 3s infinite;
}
#skills #imgskill > div .nomeskill{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: -50px;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    display: none;
}
#skills #imgskill .abaixo{
    position: relative;
    top: 50px;
    animation: bolhasbaixas 2s infinite;
}
#skills #imgskill > div img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#skills #imgskill > div .bolha{
    width: 100%;
    
}
#skills #imgskill > div .logo{
    width: 50%;
    
}

    /*Animacao bolhas*/

@keyframes bolhas{
    0%{
        top: 20px;
        
    }
    50%{
        top: 30px;
    }
    100%{
        top: 20px;
    }

}
@keyframes bolhasbaixas{
    0%{
        top: 50px;
    }
    50%{
        top: 60px;
    }
    100%{
        top: 50px;
    }

}

#oqfaco{
    text-align: center;
    padding-top: 50px;
    font-family: opens;
}
#oqfaco .box{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #2558f3;
}

#oqfaco .box > div{
    width: 400px;
    padding: 20px 20px 50px 20px;
    
    margin: 0 20px;
    border: 1px solid #2558f3;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
#oqfaco > h2{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.414);
}
#oqfaco .box > div p{
    text-align: justify;
}

/*Portfolio*/

#oqfaco #port{
    width: 100%;
    height: 300px;
    background-color: #2558f3;
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    
}
#oqfaco #port .titulo{
    height: 100%;
    width: 30%;
    padding: 50px;
    color: white;
    font-size: 20px;
    text-align: justify;
}
#oqfaco #port .titulo h2{
    font-size: 40px;
}
#oqfaco #port .titulo > .seta{
    width: 40px;
    height: 40px;
    margin: 20px 20px 0 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: content-box;
    padding: 10px;
    position: relative;
}
#oqfaco #port .titulo > .seta img{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#oqfaco #port .projeto{
    height: 100%;
    width: 20%;
}
#oqfaco #port .projeto img{
    width: 100%;
    height: 100%;
}








/*footer*/

footer{
    height: 500px;
    background-color: black;
}