@charset "UTF-8";
@font-face {
    font-family: 'Alumni Sans Pinstripe';
    src: url(../fonts/AlumniSansPinstripe-Regular.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: opens;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

    /*80%*/

.oitentapor{
    width: 80%;
    margin: 0 auto;
}

    /*Clear*/

.clear{
    clear: both;
}
    
    /*Imagem de fundo*/

header{
    width: 100%;
    background-image: url(../photos/fundo.jpg);
    background-size: 100%;
    height: calc(80vh + 200px);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    /*Imagens de logo de redes*/
    
header #redes{
    float: left;
}
header .logoredes{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 30px 20px 0 0;
    
    
}
header .logoredes img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
}

    /*Menu mobile*/
header #menumobile{
    display: none;
    width: 60px;
    margin-top: 50px;
    margin-left: 85%;
    cursor: pointer;
}
header #menumobile img{
    width: 100%;
}
header #menuaberto{
    background-color: rgba(0, 0, 0, 0.889);
    color: white;
    position: absolute;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    font-family: openS, Arial, Helvetica, sans-serif;
    right: 10px;
    display: none;
}
header #menuaberto li{
    margin-bottom: 10px;
    font-size: 25px;
}

    /*Telefone de contato*/

header #telefone{
    vertical-align: top;
    float: right;
    color: white;
    font-family: 'Alumni Sans Pinstripe', sans-serif;

}
header #telefone #numero{
    display: inline-block;
    font-size: 22px;
}
header #telefone #numero p:last-child{
    font-size: 30px;
    margin-top: -10px;
}

    /*Menu*/

header nav{
    width: 100%;
    height: 120px;
    color: white;
    font-size: 28px;
    margin-top: -85px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
header #menuprincipal{
    text-align: center;
    line-height: 120px;

}
header #menuprincipal li{
    display: inline-block;
    margin-right: 20px;
}

/*Painel*/

header #painel{
    color: white;
    text-align: center;
    font-family: Quicksand;
    
}
header #painel #nome{
    margin-top: 120px;
    display: none;
}
header #painel #nome h1{
    font-size: 60px;

}
header #painel #nome p{
    margin-top: -10px;
}
header #painel h2{
    margin-top: 50px;
}

/*Animacao barra*/

#painel h2::after{
    content: '|';
    opacity: 1;
    animation: piscabarra 1s infinite;
    margin-left: 5px;
}
@keyframes piscabarra {
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



/*Apresentacao*/

#espacogradient{
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0),black);
    z-index: 1;
    margin-top: -220px;
}
#apresentacao{
    width: 100%;
    background-color: black;
    display: flex;
    font-family: opens;
    justify-content: center;
    color: white;
    margin: auto;
    padding: 50px;
}
#apresentacao .foto{
    margin: auto;
    width: 30%;
    position: relative;
}
#apresentacao .foto img{
    width: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #2558f3;
    
}
#apresentacao .quemsou{
    width: 34%;
    text-align: justify;
    text-indent: 30px;
}
#apresentacao .quemsou h1{
    font-size: 50px;
    color: #2558f3;
    
}

#apresentacao #citacao{
    width: 34%;
    font-size: 25px;
    margin-top: 50px ;
}
#apresentacao #citacao h2{
    color: #2558f3;
    font-weight: 100;
}

#apresentacao #citacao p{
    margin: 20px 0;
}
#apresentacao #citacao blockquote{
    text-align: right;
    font-size: 30px;
    color: #2558f3;

}

    /*Skills*/


#skills{
    font-family: opens;
    height: 5px;
    text-align: center;
    background-color: black;
}
#skills #imgskill > div{
    width: 70px;
    height: 70px;
    position: relative;
    display: inline-block;
    animation: bolhas 20s infinite;
    margin-left: 2%;
    

}
#skills #imgskill .abaixo{
    position: relative;
    top: 0px;
    animation: bolhasbaixas 15s infinite;
}
#skills #imgskill > div img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#skills #imgskill > div .bolha{
    width: 100%;
    
}
#skills #imgskill > div .logo{
    width: 50%;
    opacity: 0.8;
    
}

    /*Animacao bolhas*/

@keyframes bolhas{
    0%{
        top: -60px;
        right: 10px;
    }
    50%{
        top: -120px;
        right: 0px;
    }
    100%{
        top: -60px;
        right: 10px;
    }

}
@keyframes bolhasbaixas{
    0%{
        top: -50px;
        right: 10px;
    }
    50%{
        top: -100px;
        right: 0px;
    }
    100%{
        top: -50px;
        right: 10px;
    }

}

/*portfolio*/

#portfolio{
    background-color: black;
    color: white;
    text-align: center;
    font-family: openS, Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
#portfolio div{
    width: 30%;
    height: 200px;
    border: 1px solid #2558f3;
    border-radius: 15px;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-clip: content-box;
    background-size: cover;
}

#portfolio #primeiro{
    background-image: url(../photos/projetos/ppt.png);  
}
#portfolio #segundo{
    background-image: url(../photos/projetos/supremo.png);  
}
#portfolio #terceiro{
    background-image: url(../photos/projetos/lista.png);  
}
#portfolio #quarto{
    background-image: url(../photos/projetos/carros.png);  
}
#portfolio #quinto{
    
}
#portfolio #sexto{
 
}
#portfolio a{
    text-decoration: none;
}
#oqfaco{
    text-align: center;
    padding-top: 50px;
    font-family: opens;
}
#oqfaco .box{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    padding-bottom: 50px;

}

#oqfaco .box > div{
    width: 400px;
    padding: 20px;
    margin: 0 20px;
    border: 1px solid #2558f3;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
#oqfaco > h2{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.414);
}#oqfaco .box > div h2{
    margin-bottom: 20px;
}
#oqfaco .box > div p{
    text-align: left;   
}

/*Contato*/

#contato{
    background-color: #131313;
    color: white;
    font-family: openS, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px 0;
}
#contato h1{
    font-size: 50px;
}
#contato p:first-of-type{
    font-size: 20px;
    text-align: center;
}
#contato form{
    max-width: 900px;
    margin: 0 auto;
}
#contato form > div{
    display: inline-block;
}
#contato form p{
    margin:5px 50px;
    text-align: left;
    
}
#contato form input{
    width: 420px;
    height: 35px;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 10px;
}
#contato form textarea{
    width: 700px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
#contato form #bt{
    margin-top: 50px;
    width: 250px;
    height: 60px;
    background-color: #2f2f96;
    color: white;
    font-size: 20px;
    border: 1px solid white;
}





/*Responsivo*/

@media screen and (max-width:1300px ){
    header{
        background-image: url(../photos/fundo.media.jpg);
    }
}
@media screen and (max-width:900px ){
    header{
        background-image: url(../photos/fundo.mobile.jpg);
    }

    #apresentacao{
        flex-direction: column-reverse;
        padding: 20px;
    }
    #apresentacao .quemsou{
        width: 100%;
        margin: 130px auto 50px auto;
    }
    #apresentacao .foto{
        width: 50%;
        margin: 0px auto;
    }
    #apresentacao #citacao{
        width: 80%;
        text-align: center;
        margin: 0 auto 150px auto;
    }




    #contato form{
        width: 80%;

    }
    #contato form #duvida{
        font-size: 15px;
    }
    #contato form > div{
        width: 100%;
    }
    #contato form > div textarea{
        width: 100%;
        
    }
}
@media screen and (max-width:580px ){
    header{
        background-image: url(../photos/fundo.mobile1.jpg);
        
    }
    #redes{
        display: none;
    }
    #telefone{
        display: none;
    }
    header #menumobile{
        display: inline-block;
    }
    header #menuprincipal{
        display: none;
    }
    header #painel #nome{
        margin-top: 80px;
    }
    #oqfaco .box {
        flex-direction: column;
    }
    #oqfaco .box > div{
        margin: 5px auto;
    }
    #contato form input{
        width: 100%;
    }

}