@charset "UTF-8";
@font-face {
    font-family: 'Alumni Sans Pinstripe';
    src: url(../fonts/AlumniSansPinstripe-Regular.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: opens;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

    /*80%*/

.oitentapor{
    width: 80%;
    margin: 0 auto;
}

    /*Clear*/

.clear{
    clear: both;
}
    
    /*Imagem de fundo*/

header{
    width: 100%;
    background-image: url(../photos/fundo.jpg);
    background-size: 100%;
    height: calc(80vh + 200px);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    /*Imagens de logo de redes*/
    
header #redes{
    float: left;
}
header .logoredes{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 30px 20px 0 0;
    
    
}
header .logoredes img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
}

    /*Telefone de contato*/

header #telefone{
    vertical-align: top;
    float: right;
    color: white;
    font-family: 'Alumni Sans Pinstripe', sans-serif;

}
header #telefone #numero{
    display: inline-block;
    font-size: 22px;
}
header #telefone #numero p:last-child{
    font-size: 30px;
    margin-top: -10px;
}

    /*Menu*/

header nav{
    width: 100%;
    height: 120px;
    color: white;
    font-size: 28px;
    margin-top: -85px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
header #menuprincipal{
    text-align: center;
    line-height: 120px;

}
header #menuprincipal li{
    display: inline-block;
    margin-right: 20px;
}

/*Painel*/

header #painel{
    color: white;
    text-align: center;
    font-family: Quicksand;
    
}
header #painel #nome{
    margin-top: 120px;
    display: none;
}
header #painel #nome h1{
    font-size: 60px;

}
header #painel #nome p{
    margin-top: -10px;
}
header #painel h2{
    margin-top: 50px;
}

/*Animacao barra*/

#painel h2::after{
    content: '|';
    opacity: 1;
    animation: piscabarra 1s infinite;
    margin-left: 5px;
}
@keyframes piscabarra {
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



/*Apresentacao*/

#espacogradient{
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0),black);
    z-index: 1;
    margin-top: -120px;
}
#apresentacao{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family: opens;
}
#apresentacao .quemsou{
    color: white;
    width: 50%; 
    margin: 100px;
    text-align: justify;
}
#apresentacao .quemsou h1{
    font-size: 50px;
    text-indent: 100px;
}
#apresentacao .quemsou p{
    margin-top: 20px;
    text-indent: 30px;
}
#apresentacao .foto {
    width: 20%;
}
#apresentacao .foto img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid white;
}